services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend_service
    env_file:
      - .env
    environment:
      - DB_URL=postgresql://postgres:postgres@db:5432/webia
    ports:
      - "5000:5000"
    depends_on:
      - db

  db:
    image: postgres:13
    container_name: db_service
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: webia
    # ports:
    #   - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
    driver: local